<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="../styles/intr.css" />
<meta charset="BOM" lang="en">
<title>Match Pang-Pang</title>
</head>
<body>
	<div>
		<a href="../"><img id="home" src="../images/home.png" alt="logo"/></a>
	</div>
	<div id="continer">
		<div id="winLose">
			<h1>YOU WIN!</h1>
		</div>
		<div id="howTo">
			<h1>Points: XXX</h1>
			<h1>Total:	XXX</h1>
		<!--<div id="transl">
			<img id="cneat" src="images/cn_eat.jpg" alt="cneat"/>
			<h1>fàn = eat</h1>
		</div>-->
		<div id="transl2">
			<img id="keat" src="../gfx/1.png" alt="keat"/>
			<h1>meok.da = eat</h1>
		</div>
		<div id="cont">
			<h1><a href="play">NEXT LEVEL</a></h1>
		</div>
	</div>
</body>
</html>