

#gameBoard {
    margin: 0px auto;
    background-image: url("../images/1.png");
}

#boxes {
    margin: 50px 0 0;
    margin-left: 6%;
    z-index: 1;
}

#boxes div {
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
    border: 2px blue;
    border-radius: 2;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    cursor: pointer;
    float: left;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    padding: 2px;
    z-index: 2;

}

#boxes div img {
    border-radius: 2;
    display: none;
    z-index: 3;
}

#gameButtons {
    display: block;
    margin: 20px;
    text-align: center;
}

#gameButtons .button {

    background: lime;
	padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
	margin: 5px;
}

#gameButtons .button:hover {
    background: #777;
}

table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 17px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}
     
th {
    text-align: center;
    font: bold 25px helvetica;
    color: white;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    /*background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);*/
    background-color: black;
}

table tr td {
    text-align: center;
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
}
         
table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

#home {
	float: left;
	margin-right: -50px;
}

#gameoverpopup{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
}

#gotoleveltwo{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
}

#gotolevelthree{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
}

#p1pop{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
}

#highscores{
	background-image: url("../images/1.png");
}

#header{
	font-size: 20pt;
	color: #FF6600;
	background-image: url("../images/1.png");
}

.ui-page{
	background-image: url("../images/1.png");
	color: #FF6600;
}

.ui-link{
	background-color: rgba(0, 0, 102, 0.50);
	border: 1px solid #000000;
    box-shadow: -5px 5px 5px  rgba(10, 0, 100, 0.5);
}

.ui-content{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00FF00));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00FF00 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #00FF00 100%);
	text-align: center;
}